.border {
    margin-top: 2%;
    border-top: solid rgba(175, 171, 171, 0.801) 5px;
    border-radius: 5px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.photo {
    overflow:hidden;
    -moz-box-shadow: 0px 0px 10px #0061d7;
	-webkit-box-shadow: 0px 0px 10px #0061d7;
	-o-box-shadow: 0px 0px 10px #0061d7;
	box-shadow: 0px 0px 10px #0061d7;
    -webkit-border-radius:80px;
    -moz-border-radius:80px;
    border-radius:120px;
    width:120px;
    height:200px;
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.about h1 {
    color: #0061d7;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
}
.about h3 {
    margin-top: 30px;
    text-align: center;
    font-style: italic;
    color: #39b9de;
}
.paragraphe{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}
.about p {
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
}


@media screen and (min-width:300px) and (max-width:650px) {

    .paragraphe{
        max-width: 80%;
    }

    .about h1 {
        font-size: 20px;

    }

    .about h3 {
        margin-top: 20px;
        font-size: 15px;
    }

    .about p {
        text-align: left;
        font-size: 10px;
    }
    
}