.row {
    margin: 0 auto;
    text-align: center;
}

h2{
    font-size: 30px;
    text-transform: uppercase;
    color: #0061d7;
}

input, textarea {
    width: 255px;
    margin-bottom: 1%;
    border-radius: 15px;
    border-color: #0061d7;
    padding: 8px;
	box-shadow: 0px 0px 5px #0061d7;
}

.button-submit {
    box-shadow: O 2px 2px 0 rgba(0,0,0,.1);
    font-weight: 700;
    font-size: 13px;
    background-color: #0061d7;
    border-color: #0061d7;
    color: #fff;
    padding: 0.5% 0.5%;
    text-decoration: none;
    border-radius: .25rem;
    display: inline-block;
}
