.border {
    margin-top: 2%;
    border-top: solid rgba(175, 171, 171, 0.801) 5px;
    border-radius: 5px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.logo {
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
.formation h2 {
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    color: #0061d7;
}
.formation h3 {
    text-align: center;
    font-style: italic;
    color: #39b9de;
}
.detail{
    display: flex;
}
.description {
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}
.description p {
    font-weight: bold;  
}
.icon{
    margin-left: 35%;
}

@media screen and (min-width:300px) and (max-width:1250px) {

    .paragraphe{
        max-width: 80%;
    }

    .formation h2 {
        font-size: 20px;

    }

    .icon{
        margin-left: 5%;
    }

    .formation h3 {
        margin-top: 20px;
        font-size: 14px;
    }

    .formation p {
        text-align: left;
        font-size: 10px;
    }
    
}